<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="btn btn-outline-success" type="button">Home</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Sobre</button>
</nav>
