
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>Pessoa Id</b>
</div>
<div>
    <p>@ViewData["PessoaId"]</p>
</div>
<div>
    <b>Nome</b>
</div>
<div>
    <p>@ViewData["Nome"]</p>
</div>
<div>
    <b>Tipo</b>
</div>
<div>
    <p>@ViewData["Tipo"]</p>
</div>
<a href="~/">Voltar</a>